<p>A sevice is a reusable typescript class that can be used in multiple components across your Angular application.
    service also used for communacating between other compoenents. if two components has a relationship of child and parent 
    then they can passing data by input & output decorator but when components don't have parent-child relationship
    then we use services to communicate between them
</p>
<h4>Advantages of Services</h4>
<ul>
    <li>Services are easier to debug and test</li>
    <li>services helps to reuseability of code </li>
</ul>

<div class="container">
    <app-javascriptcom></app-javascriptcom>
    <app-angularcom></app-angularcom>
</div>